<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<!-- Test Params -->
		<Parameter name="Screenshot" value="true" />
		<!-- Playwright options -->
		<Parameter name="BrowserType" value="chromium" /> <!-- chromium / firefox / webkit -->
	</TestRunParameters>
  <Playwright>
    <LaunchOptions>
      <Headless>false</Headless>
    </LaunchOptions>
  </Playwright>
  <RunConfiguration>
		<EnvironmentVariables>
			<PWDEBUG>0</PWDEBUG>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>